@charset "utf-8";
body {
    background-color: #C2C2C2;
}
div {
    margin-left: 15%;
    width: 70%;
    background-color: #fafafa;
}
body p {
    color: #4D4D4D;
    font-family: serif;
}
h2 {
    font-family: Arial;
}
article ul li {
    list-style-type: disc;
}
article ol li {
    list-style-type: lower-alpha;
}
ol li {
    list-style-type: armenian;
}
body div footer {
    text-align: center;
}
