<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Product Page Template</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap-4.4.1.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1 class="text-center">Welcome To Mintling Industries.</h1>
            <div class="row justify-content-center">
              <div class="col-auto">
                <p><a class="btn btn-success btn-lg" href="#" role="button">Browse</a> </p>
              </div>
              <div class="col-auto">
                <p><a class="btn btn-primary btn-lg" href="#" role="button">About</a> </p>
              </div>
            </div>
            <p class="text-center">Our products are guarentee to satisfy your every want, need, and desire.</p>
            <img src=" " alt="" class="img-fluid"> 
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center col-md-6 col-12">
          <h3>Popular</h3>
          <p>Our Best Sellers</p>
          <a class="btn btn-danger btn-lg" href="#" role="button">Browse</a>
        </div>
        <div class="text-center col-md-6 col-12">
          <h3>Just For You</h3>
          <p>Based on your search history and browsing habits</p>
          <a class="btn btn-info btn-lg" href="#" role="button">Browse</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <h2>Build&nbsp;</h2>
          <p>Top Notch Build Quality</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <h2>Engineering&nbsp;</h2>
          <p>Our engineers are the best in the business, whatever business we are in</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <h2> Shipping&nbsp;</h2>
          <p>Free Shipping</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <h2>No Hassle&nbsp; &nbsp;&nbsp;</h2>
          <p>Free replacement, just tell us how it broke so we can fix it in the next design&nbsp; &nbsp;</p>
        </div>
      </div>
    </div>
    <hr>
    <section>
      <h2 class="text-center">Video Tutorial</h2>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lFqDM_YlXV8"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="file:///D:/YouTube/Editing/Memes/ban%20hammer.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Featured</h5>
              <p class="card-text">&nbsp;The Ban Hammer, for when people are annoying&nbsp;</p>
              <a href="#" class="btn btn-primary">See more&nbsp;</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="file:///D:/YouTube/Editing/Memes/doug%20dimmadome.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Featured</h5>
              <p class="card-text">Commically large hat, proven to increase neck muscle.&nbsp; &nbsp;&nbsp;</p>
              <a href="#" class="btn btn-primary">See more&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-md-0 mb-2">
          <h2>Contact Us</h2>
          <address>
            <strong>Mintling Industries</strong><br>
            1234 Road Avenue<br>
            CA, 91308-4075, US<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <h2>Testimonials</h2>
          <ul class="list-unstyled">
            <li class="media">
              <img class="mr-3" src="../images/35X35.gif" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Janet&nbsp;</h5>
                <p class="mb-0">Super satisfied with my purchase, customer support is friendly, and super helpful.</p>
              </div>
            </li>
            <li class="media my-4">
              <img class="mr-3" src="../images/35X35.gif" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Rodney</h5>
                <p class="mb-0">They sure do make a sturdy product, I abuse it and it has never failed.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-12">
          <h2>About Us</h2>
          <p>We make sure our products are the best in the industry, through rigorous testing, and if it breaks we will send you a new completely free.</p>
          <p>Making it right the first time</p>
        </div>
      </div>
    </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © Mintling Industries. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap-4.4.1.js"></script>
  </body>
</html>