@charset "utf-8";
body{background-color:#F0F0F0;
	margin-left:15%;
	width:70%;}

header{background-color: #ffffff;}
section{background-color: #ffffff;}

header h1{display:inline;
	font-family: impact;
	font-size: 72px;}

h1{font-family: arial;
	font-weight: bold;
	font-size: 32px;
	color: #000000;}

.photograph{width:100%;}

h1{font-family: helvetica;
	font-weight: bold;
	color: #000000;}

a{font-family: helvetica;
	color: #000000;
	text-decoration: none;}
	

footer{text-align: center;
	color:#000000}