@charset "utf-8";
body {
    font-family: arial;
	font-size: 24px;
    padding: 0;
    line-height: 2;
    background-color: #f4f4f4;
}
.container {
    margin: auto;
    width: 70%;
    overflow: hidden;
}
header {
    background-color: #FFFFFF;
    padding-top: 15px;
    min-height: 70px;
    border-bottom: #0308FD 5px solid;
}

header a {
	color: #000000;
	text-decoration: none;
	font-size: 24px;
}
header a:hover{
	color:#0200FF
}
header ul { 
	margin: 15px;
	padding-bottom: 25px;
}
header li {
	float: left;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}
header nav{
	float: right;
	padding-bottom: 25px;
}
Footer{
	text-align:center;
}
#img {
	margin-top:15px;
}
#img .img{
	float:left;
	text-align:center;
	width:30%;
	padding: 15px;
}
#img .container {
	width: 100%;
	height: auto;
}

